<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @lead.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @lead.last_name %>
</p>

<p>
  <b>Company:</b>
  <%= @lead.company %>
</p>

<p>
  <b>Email:</b>
  <%= @lead.email %>
</p>

<p>
  <b>Job title:</b>
  <%= @lead.job_title %>
</p>

<p>
  <b>Phone:</b>
  <%= @lead.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @lead.website %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
